/* Page Colour */
body {
    font-family: Arial, sans-serif;
    background-colour: lightgray;
    margin: 0;
    colour: black;
}

/* Header Colour */
header {
    background-colour: maroon;
    color: white;
    text-align: center;
    padding: 20px;
}

header img {
    width: 50px;
    vertical-align: middle;
}

header h1 {
    margin: 10px 0;
}

header p {
    margin: 0;
    font-style: italic;
}

/* Section Colours */
section {
    width: 80%;
    margin: 30px auto;
}

/* Section Titles */
h2 {
    colour: maroon;
    border-bottom: 2px solid maroon;
    padding-bottom: 5px;
}

/* Background Card Colours */
.card {
    background-color: white;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
}

/* Skill List */
.skills-list {
    list-style: none;
    padding: 0;
}

.skills-list li {
    display: inline-block;
    background-colour: maroon;
    color: white;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 5px;
}

/* The Link Colour */
a {
    colour: maroon;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Bottom Of the Fottor Colour */
footer {
    text-align: center;
    padding: 15px;
    background-colour: maroon;
    color: white;
    margin-top: 30px;
}
